@font-face {
  font-family: "QiuHong";
  src: url("./QiuHong.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Misans";
  src: url("./MiSans/MiSans-Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
